[defaults]
roles_path = roles
strategy_plugins = plugins/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
stdout_callback = default
result_format = yaml
callbacks_enabled = timer, profile_tasks
interpreter_python = auto_silent
